<!DOCTYPE html>
<html>
<head>
<title>Bikes in Málaga</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>

</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="{{url_client}}/home/">Home</a>
            <a class="brand" href="{{url_client}}/bicilane/">Bici Lanes</a>
            <a class="brand" href="{{url_client}}/bicipark/">Bici Parkings</a>  
        </div>
    </div>
    <div id="main" class="container">
        <h1 class="h3 mb-3 font-weight-normal">An unexpected error has occurred</h1>
        <h2>Error code: {{codigo}}</h2>
        <h3>Error: {{mensaje}}</h3>
    </div>






</body>
</html>
